aiohttp @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_690hlorvpy/croot/aiohttp_1670009554132/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
async-timeout @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_732x52axrd/croots/recipe/async-timeout_1664876366763/work
attrs @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_33k1uces4n/croot/attrs_1668696162258/work
beautifulsoup4==4.11.1
bs4==0.0.1
cchardet==2.1.7
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
chardet==5.1.0
charset-normalizer==3.0.1
contourpy==1.0.7
cycler==0.11.0
DateTime==5.0
Deprecated==1.2.13
dtw-python==1.3.0
filelock==3.9.0
fonttools==4.38.0
frozenlist @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_5eiq5594pj/croot/frozenlist_1670004516635/work
greenlet==2.0.1
huggingface-hub==0.12.1
idna @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_00jf0h4zbt/croot/idna_1666125573348/work
importlib-metadata==6.0.0
joblib==1.2.0
JPype1==1.4.1
kiwisolver==1.4.4
konlpy==0.6.0
llvmlite==0.39.1
lxml==4.9.2
matplotlib==3.6.3
mecab-python3==1.0.6
multidict @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_81upqwhecp/croot/multidict_1665674236996/work
numba==0.56.4
numpy==1.23.5
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pykrx==1.0.40
PyMySQL==1.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
threadpoolctl==3.1.0
tokenizers==0.13.2
torch==1.13.1
tqdm==4.64.1
transformers==4.26.1
tslearn==0.5.3.2
typing_extensions==4.5.0
urllib3==1.26.14
wrapt==1.14.1
xlrd==2.0.1
yarl @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_d8a27nidjc/croots/recipe/yarl_1661437080982/work
zipp==3.15.0
zope.interface==5.5.2
